apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
spec:
  selector:
    app: {{ .Release.Name }}
  ports:
  - name: http
    protocol: TCP
    port: 3000
    targetPort: 3000
  - name: grpc
    protocol: TCP
    port: 8081
    targetPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-keycloak
spec:
  selector:
    app: {{ .Release.Name }}
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-mailcatcher
spec:
  selector:
    app: {{ .Release.Name }}
  ports:
  - protocol: TCP
    port: 1080
    targetPort: 1080
