simple-service:
  ingress:
    enabled: false
  application:
    image: ghcr.io/neuralegion/ao-https-with-header
    port: 8080
    env:
      HTTP_PORT: "8080"
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 250m
        memory: 512Mi
    livenessProbe:
      tcpSocket:
        port: 8080
      initialDelaySeconds: 30
      periodSeconds: 30
    startupProbe:
      tcpSocket:
        port: 8080
