---
images:
  main: stable-f9331c-20260110080035
repeaterImageTag: ""
repeaterID: null
token: null
cluster: null
timeout: null
clusterConfigMap: "brokencrystals-config"
useMailcatcher: false
useOllama: true
ingress:
  url: null
  cert: ""
  authlevel: "."
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-ssl-protocols: "TLSv1.2 TLSv1.3"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
  tls:
    enabled: true
    autoGenerate: true
