simple-service:
  application:
    image: "brightsec/altoroj:3.5-dev"
    port: 8080
    env:
      foo: bar
    resources:
      requests:
        cpu: 50m
        memory: 750Mi
        ephemeral-storage: "4Gi"
      limits:
        memory: 1024Mi
    livenessProbe:
      httpGet:
        path: /
        port: 8080
        scheme: HTTP
      initialDelaySeconds: 120
      periodSeconds: 30
