<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign-in</title>
    <style>
      @import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

      body {
        font-family: 'Roboto', sans-serif;
        margin-top: 25px;
        margin-bottom: 25px;
      }

      .card {
        padding: 40px;
        padding-top: 0px;
        padding-bottom: 10px;
        width: 274px;
        background-color: #F7F7F7;
        margin: 0 auto 10px;
        border-radius: 2px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        overflow: hidden;
      }

      .card + .card {
        padding-top: 10px;
      }

      .card h1 {
        font-weight: 100;
        text-align: center;
        font-size: 2.3em;
      }

      .card [type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
      }

      .card input[type=text], input[type=email], input[type=password], textarea, select {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
      }

      tel-input {
        width: 100%;
      }

      .card textarea {
        max-width: 100%;
        min-width: 100%;
      }

      .submit {
        border: 0px;
        color: #fff;
        text-shadow: 0 1px rgba(0,0,0,0.1);
        background-color: #4d90fe;
      }

      .card a {
        text-decoration: none;
        color: #666;
        font-weight: 400;
        text-align: center;
        display: inline-block;
        opacity: 0.6;
      }

      .card input[type=checkbox] {
        margin-bottom: 10px;
      }

      .card label {
        color: #999;
      }

      ul {
        font-weight: 100;
        padding-left: 1em;
        list-style-type: circle;
      }

      li + ul, ul + li, li + li {
        padding-top: 0.3em;
      }

      button {
        cursor: pointer;
      }

      .emsg {
        text-align: center;
        font-size: 14px;
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        color: red;
      }

      .btn {
        text-align: center;
        font-size: 14px;
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        height: 36px;
        padding: 0 8px;
      }
    </style>
      <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
      <script>
        // Your web app's Firebase configuration
        const firebaseConfig = {
          apiKey: "AIzaSyDpUtAGo3tD8PIEnyIU9uvtNIgCGAA3rAs",
          authDomain: "ao-firebase.firebaseapp.com",
          projectId: "ao-firebase",
          storageBucket: "ao-firebase.appspot.com",
          messagingSenderId: "811968500931",
          appId: "1:811968500931:web:f8aa2eb2cd64c873ccbe76"
        };

        firebase.initializeApp(firebaseConfig);
      </script>
  </head>
  <body>
    <div class="card">
      <h1><%= title %></h1>
      <%- body %>
    </div>
  </body>
</html>
