<form autocomplete="off">
<input type="text" required name="username" placeholder="Email" id="username" />

<input
  type="password"
  required
  id="password"
  placeholder="Password"
  name="password"
/>
<div id="emsg" class="emsg"></div>
<button type="submit" class="btn submit">Log in</button>
</form>
<script src="login.js"></script>
