<div>
  <strong>UID</strong>: <span id="uid"></span>
</div>
<div>
  <strong>Username</strong>: <span id="username"></span>
</div>
<div>
  <strong>Organization</strong>: <span id="organization"></span>
</div>
<script src="main.js"></script>
