simple-service:
  application:
    image: ghcr.io/neuralegion/ao-reauth-triggers:latest
    port: 3000
    resources:
      requests:
        cpu: 50m
        memory: 100Mi
      limits:
        memory: 200Mi
    livenessProbe:
      httpGet:
        path: /
        port: 3000
        scheme: HTTP
      initialDelaySeconds: 120
      periodSeconds: 30
