<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <div>
      <p><strong>SUCCESS <%= title %></strong></p>
    </div>
    <div>Welcome to the page! <%= description %></div>
  </body>
</html>
