# Default values for crapi.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

ingress:
  url: dev.vuln.nexploit.app
  cert: ""
  authlevel: "."

jwtSecret: crapi
enableLog4j: false
enableShellInjection: true
imagePullPolicy: Always
openAIApiKey: ""  # Set your OpenAI API key here or via --set openAIApiKey=xxx
tlsEnabled: false
apiGatewayServiceUrl: https://api.crapi.io
apiGatewayServiceInstall: true
apiGatewayPassword: ""

waitForK8sResources:
  image: groundnuty/k8s-wait-for:v1.3
  imagePullPolicy: IfNotPresent

web:
  name: web
  image: crapi/crapi-web@sha256:b27d246c646bd33898e7d1d2095b6e7576c0993a7b81a73aa7386929493d7151
  replicaCount: 1
  port: 80
  service:
    name: web
    labels:
      app: crapi-web
  config:
    name: crapi-web-configmap
    labels:
      app: crapi-web
  resources:
    limits:
      cpu: "500m"
    requests:
      cpu: 50m
  deploymentLabels:
    app: crapi-web
  podLabels:
    app: crapi-web
  deploymentSelectorMatchLabels:
    app: crapi-web
  serviceSelectorLabels:
    app: crapi-web

identity:
  name: identity
  image: crapi/crapi-identity@sha256:51b4cdd1a88f24e00e66c4c37735e7f8adbb98071252f3cf4f6dda9e00671aed
  port: 8080
  replicaCount: 1
  service:
    name: identity
    labels:
      app: crapi-identity
  jwtKeySecret:
    name: jwt-key-secret
    file: keys/jwks.json
    labels:
      app: crapi-identity
  config:
    name: crapi-identity-configmap
    labels:
      app: crapi-identity
    postgresDbDriver: postgresql
    appName: "crapi-identity"
    mailhogDomain: "example.com"
    smtpHost: "smtp.example.com"
    smtpPort: 587
    smtpEmail: "user@example.com"
    smtpPass: "xxxxxxxxxxxxxx"
    smtpFrom: "no-reply@example.com"
    smtpAuth: true
    smtpStartTLS: true
  deploymentLabels:
    app: crapi-identity
  podLabels:
    app: crapi-identity
  deploymentSelectorMatchLabels:
    app: crapi-identity
  serviceSelectorLabels:
    app: crapi-identity

community:
  name: community
  image: crapi/crapi-community@sha256:8ba0c7eda86ae065a673f1fa554d0109a24f25c5a8d65097ae024e5ee715c54e
  port: 8087
  replicaCount: 1
  service:
    name: community
    labels:
      app: crapi-community
  config:
    name: crapi-community-configmap
    labels:
      app: crapi-community
    postgresDbDriver: postgres
    mongoDbDriver: mongodb
  deploymentLabels:
    app: crapi-community
  podLabels:
    app: crapi-community
  deploymentSelectorMatchLabels:
    app: crapi-community
  serviceSelectorLabels:
    app: crapi-community

workshop:
  name: workshop
  image: crapi/crapi-workshop@sha256:d4d2d94d35a31e211b04d5a771881f5ae13e358e8fa0804463ae3bace05dd815
  port: 8000
  replicaCount: 1
  service:
    name: workshop
    labels:
      app: crapi-workshop
  config:
    name: crapi-workshop-configmap
    labels:
      app: crapi-workshop
    postgresDbDriver: postgres
    mongoDbDriver: mongodb
    secretKey: crapi
  deploymentLabels:
    app: crapi-workshop
  podLabels:
    app: crapi-workshop
  deploymentSelectorMatchLabels:
    app: crapi-workshop
  serviceSelectorLabels:
    app: crapi-workshop

mailhog:
  name: mailhog
  image: crapi/mailhog@sha256:015c23f79d40c9dc1800cd0a458503b89aeda3b585a12c37d53829d6c7d61fdd
  webPort: 8025
  smtpPort: 1025
  replicaCount: 1
  minReadySeconds: 10
  progressDeadlineSeconds: 600
  smtpService:
    name: mailhog
    labels:
      app: mailhog
  webService:
    name: mailhog-web
    labels:
      app: mailhog
  config:
    name: mailhog-configmap
    labels:
      app: mailhog
    mailhogStorage: mongodb
  resources:
    limits:
      cpu: "1"
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 64Mi
  deploymentLabels:
    app: mailhog
  podLabels:
    app: mailhog
  podAnnotations:
    sidecar.traceable.ai/inject: "false"
  deploymentSelectorMatchLabels:
    app: mailhog
  serviceSelectorLabels:
    app: mailhog

mongodb:
  name: mongodb
  image: mongo
  version: 5.0
  imagePullPolicy: IfNotPresent
  port: 27017
  replicaCount: 1
  service:
    name: mongodb
    labels:
      app: mongodb
  config:
    name: mongodb-config
    labels:
      app: mongodb
    mongoUser: admin
    mongoPassword: crapisecretpassword
    mongoDbName: crapi
    mongoUri: "admin:crapisecretpassword@mongodb:27017"
  pvc:
    name: mongodb-pv-claim
    labels:
      app: mongodb
    resources:
      requests:
        storage: 1Gi
  serviceSelectorLabels:
    app: mongodb
  podLabels:
    app: mongodb
  statefulsetLabels:
    app: mongodb
  statefulsetSelectorMatchLabels:
    app: mongodb

postgresdb:
  name: postgresdb
  image: postgres
  version: 14
  imagePullPolicy: IfNotPresent
  port: 5432
  replicaCount: 1
  service:
    name: postgresdb
    labels:
      app: postgresdb
  initConfig:
    name: "postgres-init-config"
  config:
    name: postgres-config
    labels:
      app: postgresdb
    postgresUser: admin
    postgresPassword: crapisecretpassword
    postgresDbName: crapi
    e2eUser: e2e@nexploit.app
    e2ePassword: Admin123!
  pvc:
    name: postgres-pv-claim
    labels:
      app: postgresdb
    resources:
      requests:
        storage: 1Gi
  serviceSelectorLabels:
    app: postgresdb
  podLabels:
    app: postgresdb
  statefulsetLabels:
    app: postgresdb
  statefulsetSelectorMatchLabels:
    app: postgresdb

apiGatewayService:
  name: gateway-service
  image: crapi/gateway-service@sha256:97dade9daf0e758547b1686e2d3303c8c9b79838167f728a9211f0ee1f4622b0
  port: 443
  replicaCount: 1
  service:
    name: "gateway-service"
    labels:
      app: gateway-service
  config:
    name: gateway-service
    labels:
      app: gateway-service
  resources:
    limits:
      cpu: "100m"
    requests:
      cpu: 50m
  deploymentLabels:
    app: gateway-service
  podLabels:
    app: gateway-service
  deploymentSelectorMatchLabels:
    app: gateway-service
  serviceSelectorLabels:
    app: gateway-service

chatbot:
  name: chatbot
  image: crapi/crapi-chatbot@sha256:36d274d54182a8baddba7ede17282035bb43ab9cb9cf87927e1fe7109901e0aa
  port: 5002
  replicaCount: 1
  service:
    name: chatbot
    labels:
      app: crapi-chatbot
  config:
    name: crapi-chatbot-configmap
    labels:
      app: crapi-chatbot
    postgresDbDriver: postgres
    mongoDbDriver: mongodb
    secretKey: crapi
    defaultModel: gpt-4o-mini
    chromaPersistDirectory: /app/vectorstore
    apiUser: admin@example.com
    apiPassword: Admin!123
    openapiSpec: /app/resources/crapi-openapi-spec.json
  storage:
    # type: "manual"
    # pv:
    #   name: chatbot-vectors-pv
    #   labels:
    #     app: crapi-chatbot
    #   resources:
    #     storage: 1Gi
    #   hostPath: /mnt/vectorstore
    type: "default"
    pvc:
      name: chatbot-vectors-pv-claim
      labels:
        app: crapi-chatbot
      resources:
        requests:
          storage: 1Gi
  deploymentLabels:
    app: crapi-chatbot
  podLabels:
    app: crapi-chatbot
  deploymentSelectorMatchLabels:
    app: crapi-chatbot
  serviceSelectorLabels:
    app: crapi-chatbot

chromadb:
  name: chromadb
  image: chromadb/chroma
  version: latest
  imagePullPolicy: IfNotPresent
  port: 8000
  replicaCount: 1
  service:
    name: chromadb
    labels:
      app: chromadb
  config:
    name: chromadb-config
    labels:
      app: chromadb
    isPersistent: true
  storage:
    # type: "manual"
    # pv:
    #   name: chromadb-pv
    #   labels:
    #     app: chromadb
    #   resources:
    #     storage: 1Gi
    #   hostPath: /mnt/chromadb
    type: "default"
    pvc:
      name: chromadb-pv-claim
      labels:
        app: chromadb
      resources:
        requests:
          storage: 2Gi
  serviceSelectorLabels:
    app: chromadb
  podLabels:
    app: chromadb
  statefulsetLabels:
    app: chromadb
  statefulsetSelectorMatchLabels:
    app: chromadb
