apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "crapi.fullname" . }}-{{ .Values.identity.name }}
  labels:
    release: {{ .Release.Name }}
    {{- toYaml .Values.identity.deploymentLabels | nindent 4 }}
spec:
  replicas: {{ .Values.identity.replicaCount }}
  selector:
    matchLabels:
      {{- with .Values.identity.deploymentSelectorMatchLabels }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        release: {{ .Release.Name }}
        {{- toYaml .Values.identity.podLabels | nindent 8 }}
    spec:
#      initContainers:
#        - name: wait-for-postgres
#          image: {{ .Values.waitForK8sResources.image }}
#          imagePullPolicy: {{ .Values.waitForK8sResources.imagePullPolicy }}
#          args:
#            - "service"
#            - {{ .Values.postgresdb.service.name | quote }}
      volumes:
        - name: {{ include "crapi.fullname" . }}-jwt-key-secret
          secret:
            secretName: {{ include "crapi.fullname" . }}-{{ .Values.identity.jwtKeySecret.name }}
      containers:
        - name: {{ .Values.identity.name }}
          image: {{ .Values.identity.image }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          volumeMounts:
            - mountPath: "/.keys"
              name: {{ include "crapi.fullname" . }}-jwt-key-secret
              readOnly: true
          ports:
          - containerPort: {{ .Values.identity.port }}
          envFrom:
              - configMapRef:
                  name: {{ include "crapi.fullname" . }}-{{ .Values.identity.config.name }}
          {{- if .Values.identity.resources }}
          resources:
            {{- toYaml .Values.identity.resources | nindent 12 }}
          {{- end }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.identity.port }}
            initialDelaySeconds: 15
            periodSeconds: 10
