apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "crapi.fullname" . }}-{{ .Values.workshop.name }}
  labels:
    release: {{ .Release.Name }}
    {{- with .Values.workshop.deploymentLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.workshop.replicaCount }}
  selector:
    matchLabels:
      {{- toYaml .Values.workshop.deploymentSelectorMatchLabels | nindent 6 }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        release: {{ .Release.Name }}
        {{- with .Values.workshop.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      initContainers:
        - name: wait-for-mongodb
          image: busybox:1.36
          command: ['sh', '-c', 'until nc -z {{ include "crapi.fullname" . }}-{{ .Values.mongodb.service.name }} {{ .Values.mongodb.port }}; do echo waiting for mongodb; sleep 2; done; echo "MongoDB port is open, waiting 5s for it to be ready..."; sleep 5;']
        - name: wait-for-postgresdb
          image: busybox:1.36
          command: ['sh', '-c', 'until nc -z {{ include "crapi.fullname" . }}-{{ .Values.postgresdb.service.name }} {{ .Values.postgresdb.port }}; do echo waiting for postgresdb; sleep 2; done; echo "PostgreSQL port is open, waiting 5s for it to be ready..."; sleep 5;']
      containers:
        - name: {{ .Values.workshop.name }}
          image: {{ .Values.workshop.image }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
#          command: [ "/bin/sh", "-c", "--" ]
 #         args: [ "while true; do sleep 30; done;" ]
          ports:
            - containerPort: {{ .Values.workshop.port }}
          envFrom:
            - configMapRef:
                name: {{ include "crapi.fullname" . }}-{{ .Values.workshop.config.name }}
          {{- if .Values.workshop.resources }}
          resources:
            {{- toYaml .Values.workshop.resources | nindent 12 }}
          {{- end }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.workshop.port }}
            initialDelaySeconds: 15
            periodSeconds: 10
