---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: {{ .Release.Name }}
        app: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: brightsec/owasp-benchmark:latest
          command: ["/bin/sh"]
          args:
            - -c
            - |
              git pull && git switch c2f1c124f35493407abf443a1e89b1c9b1d17474 --detach && ./runRemoteAccessibleBenchmark.sh
          resources:
            requests:
              cpu: 50m
              memory: 2Gi
            limits:
              memory: 4Gi
          livenessProbe:
            httpGet:
              path: /benchmark
              port: 8443
              scheme: HTTPS
            initialDelaySeconds: 120
            periodSeconds: 30
