name: Release Charts

on:
  push:
    branches:
      - main
      - unstable
  pull_request:
    branches:
      - main
      - unstable
jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: v3.17.0

      - uses: actions/setup-python@v5.3.0
        with:
          python-version: '3.12'
          check-latest: false

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --chart-dirs charts --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --debug --validate-maintainers=false --target-branch ${{ github.event.repository.default_branch }}

      - name: Create kind cluster
        uses: helm/kind-action@v1.12.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run chart-testing (install)
        run: ct install --config .ct.yaml --target-branch ${{ github.event.repository.default_branch }}

  packages:
    if: github.event_name == 'push'
    needs: lint-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Git
        run: |
          git config --global user.email "devops@brightsec.com"
          git config --global user.name "Bright Security"

      - name: Change name to unstable
        if: ${{ github.ref == 'refs/heads/unstable' }}
        run: |
          sed -i 's/brokencrystals/brokencrystals-unstable/g' ./charts/brokencrystals/Chart.yaml
          sed -i 's/brkn/brkn-unstbl/g' ./charts/brokencrystals/Chart.yaml

      - name: Change values to development
        if: ${{ github.ref == 'refs/heads/unstable' }}
        run: |
          sed -i 's/^  main:.*/  main: unstable/' ./charts/brokencrystals/values.yaml
          sed -i 's/^  client:.*/  client: unstable/' ./charts/brokencrystals/values.yaml

      - name: Release packages main
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true
